@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #252525;
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
}
body {
  background: #5c258d;
  background: -webkit-linear-gradient(to right, #29f3d8, #2c91f0);
  background: linear-gradient(to right, #29f3d8, #2c91f0);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.date {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  font-family: "Dancing Script", cursive;
  margin-bottom: 1rem;
}
.date::before {
  content: "";
  position: absolute;
  background: #fff;
  height: 1px;
  width: 50px;
  top: 50%;
  left: -60px;
}
.date::after {
  content: "";
  position: absolute;
  background: #fff;
  height: 1px;
  width: 50px;
  margin-left: 7px;
  top: 50%;
}

.container {
  transition: all 0.3s ease;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background: #fff;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px 0 20px 0;
}
.container:hover {
  transform: scale(1.1);
}
.container .citation {
  font-size: 1.5em;
  line-height: 1.3em;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin: 2rem 2rem 0 2rem;
}
.container .citation::before {
  content: open-quote;
}
.container .citation::after {
  content: close-quote;
}
.container .line {
  width: 100px;
  height: 5px;
  background: #333;
  margin: 1.5rem 0;
}
.container .auteur {
  font-style: italic;
  font-size: 1.3em;
  margin-bottom: 2rem;
}

.footer {
  background: #fff;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1rem;
}
.footer img {
  margin-right: 5px;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.footer:hover {
  box-shadow: 2px 2px 5px #3333338a;
}

@media only screen and (max-width: 510px) {
  .container {
    margin: 0 0.5rem;
  }
}
.copy {
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.copy:hover {
  transition: all 0.3s ease;
}
.copy:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  border-radius: 20px 0 0 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.copy:hover::before {
  z-index: 6;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  content: "";
  background: url("img/icons/copy.png") no-repeat 0 0;
  background-size: 50px;
  background-position: center;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
}

@media only screen and (max-width: 850px) {
  .copy {
    position: sticky !important;
  }
  .copy::before {
    z-index: 6;
    display: inline-block !important;
    width: 60px !important;
    height: 60px !important;
    margin-right: 5px !important;
    content: "";
    background: url("img/icons/copy.png") no-repeat 0 0;
    background-size: 50px !important;
    background-position: left !important;
    position: absolute !important;
    bottom: 5px !important;
    left: 7px !important;
  }
  .copy:hover::after {
    content: none !important;
  }
}
.copy {
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.copy:hover {
  transition: all 0.3s ease;
}
.copy:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  border-radius: 20px 0 0 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.copy:hover::before {
  z-index: 6;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  content: "";
  background: url("img/icons/copy.png") no-repeat 0 0;
  background-size: 50px;
  background-position: center;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
}

@media only screen and (max-width: 850px) {
  .copy {
    position: sticky !important;
  }
  .copy::before {
    z-index: 6;
    display: inline-block !important;
    width: 60px !important;
    height: 60px !important;
    margin-right: 5px !important;
    content: "";
    background: url("img/icons/copy.png") no-repeat 0 0;
    background-size: 50px !important;
    background-position: left !important;
    position: absolute !important;
    bottom: 5px !important;
    left: 7px !important;
  }
  .copy:hover::after {
    content: none !important;
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.alert {
  background: #fff;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 1px -3px;
  position: absolute;
  right: 37px;
  top: 50px;
  animation: slideIn 1s ease forwards;
  overflow: hidden;
}
.alert::after {
  content: "";
  display: block;
  height: 5px;
  background: #2c91f0;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: load 3s ease;
}
.alert::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 850px) {
  .alert {
    width: 100vw !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
